<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
    <h1>Welcome to PicGal, <%= @user.name %></h1>
    <p>
        Use this email to login: <%= @user.email %>.<br/>
    </p>
    <p>
        To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>
      Yours sincerely, PicGal Management
    </p>
</body>
</html>