<% if @user %>
    <h2><%= @user.name %>'s profile</h2>
    <p><b>Default licence:</b> <%=  @user.def_licence %></p>
    <p><b>Description:</b> <%=  @user.description %></p>
    <p><b>Pictures:</b></p>
    <% render "comments/form" %>
<% else %>
    We're sorry, user '<%= @username %>' could not be found.
<% end %>
