<% if user_signed_in? %>
    <h2>My galleries</h2>
    <p>
      <ul>
        <%= render @albums %>
      </ul>
<% else %>
    You are currently not logged in. Please log in or sign up first.
<% end %>